/* Primary Colors */
$color-group-blue: #002b45;
$color-link-blue: #1b5786;
$color-action-blue: #68b2e3;
$color-primary-orange: #ed8b00;
$color-secondary-black: #2d2926;
$color-text-grey: #4d4e4c;
$color-inactive-grey: #d8dad9;
$color-background-grey: #eef0f1;
$color-yes-green: #68bd45;
$color-no-red: #be1e2d;
$color-background-grey: #eef0f1;
$color-footer-babyblue: #f3f9fc;
$color-white: #ffffff;
$color-link-icon: $color-action-blue;

/* Hover Colors */
$color-group-hover: #2d2926;
$color-link-hover: #1a4d70;
$color-action-hover: #5087ac;
$color-primary-hover: #cc6600;
$color-secondary-hover: #000000;
$color-text-hover: #2d2926;
$color-inactive-hover: #6d6f71;
$color-background-hover: #f5f6f7;
$color-yes-hover: #339900;
$color-no-hover: #990000;
$color-link-icon-hover: $color-action-hover;

/* Medium Colors (40% tint of primary color) */
$color-group-medium: #99aab5;
$color-link-medium: #a4bccf;
$color-action-medium: #c3e0f4;
$color-primary-medium: #f8d199;
$color-secondary-medium: #aba9a8;
$color-text-medium: #b8b8b7;
$color-yes-medium: #c3e5b5;
$color-no-medium: #e5a5ab;

/* Light Colors (15% tint of primary color) */
$color-group-light: #d9dfe3;
$color-link-light: #dde6ed;
$color-action-light: #e8f4fb;
$color-primary-light: #fceed9;
$color-secondary-light: #e0dfdf;
$color-text-light: #e4e5e4;
$color-yes-light: #e8f5e3;
$color-no-light: #f5dde0;

/* Extralight Colors (8% tint of primary color) */
$color-group-extralight: #ebeef0;
$color-link-extralight: #edf2f6;
$color-action-extralight: #f3f9fd;
$color-primary-extralight: #fef6eb;
$color-secondary-extralight: #efeeee;
$color-text-extralight: #f1f1f1;
$color-yes-extralight: #f3faf0;
$color-no-extralight: #faedef;
