.checkbox {
	display: block;
	position: relative;
	cursor: default;

  @media (pointer: coarse) { 
    user-select: none;
  }

  &__icon {
    display: block;
    opacity: 0;
    transition: transform ease 200ms, opacity ease 200ms;
    transform: scale(.5);
    position: absolute;
    left: 2px;
    top: 5px;
    fill: $color-inactive-grey;
  }
  
  &__bg {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    border: 2px solid $color-inactive-grey;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 3px;
  } 
  
  &__label {
    display: inline-block;
    position: relative;
    cursor: default;

    &:hover .checkbox__bg {
      border-color: $color-action-hover;
    }
    &:hover .checkbox__icon {
      fill: $color-action-hover;
    }
  }

	&--error {
		.checkbox__bg {
			border-color: $color-no-red;
		}
	}

	&__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;

    &:checked ~ .checkbox__bg {
      border-color: $color-action-blue;
		}
		&:checked ~ .checkbox__icon {
      opacity: 1;
      transform: scale(1);
      fill: $color-action-blue;
		}

		&:focus ~ .checkbox__bg {
      border-color: $color-action-hover;
		}
		&:focus ~ .checkbox__icon {
      fill: $color-action-hover;
		}
	}

	&__text {
    font-size: 1.6rem;
    padding: 6px 0 6px 35px;
    display: inline-block;
    margin: 0;
    text-align: left;
  }
  
  &__error-message {
    font-size: 1.6rem;
    color: $color-no-red;    
    margin: .4rem 0 1rem;
  }
}
