.checkbox {
	display: block;
	position: relative;
	cursor: default;

	// @include mobile {
	// 	user-select: none;
	// }

  &__label {
    display: inline-block;
    position: relative;
    cursor: default;

    &:hover .checkbox__bg {
      @extend .checkbox__bg--hover;
    }
    &:hover .checkbox__icon {
      @extend .checkbox__icon--hover;
    }
  }

	&--error {
		.checkbox__bg {
			@extend .checkbox__bg--error;
		}
	}

	&__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;

    &:checked ~ .checkbox__bg {
			@extend .checkbox__bg--checked;
		}
		&:checked ~ .checkbox__icon {
			@extend .checkbox__icon--checked;
		}

		&:focus ~ .checkbox__bg {
			@extend .checkbox__bg--focus;
		}
		&:focus ~ .checkbox__icon {
			@extend .checkbox__icon--focus;
		}
	}
	&__bg {
		display: block;
		width: 2.4rem;
		height: 2.4rem;
		border: 2px solid $color-inactive-grey;
		border-radius: 2px;
		position: absolute;
		left: 0;
		top: 3px;

		&--error {
			border-color: $color-no-red;
		}
		&--hover {
			border-color: $color-action-hover;
		}
		&--checked {
			border-color: $color-action-blue;
		}
		&--focus {
			border-color: $color-action-hover;
		}
	}
	&__icon {
		display: block;
		opacity: 0;
		transition: transform ease 200ms, opacity ease 200ms;
		transform: scale(.5);
		position: absolute;
		left: 2px;
		top: 5px;
		fill: $color-inactive-grey;

		&--hover {
			fill: $color-action-hover;
		}
		&--checked {
			opacity: 1;
			transform: scale(1);
			fill: $color-action-blue;
		}
		&--focus {
			fill: $color-action-hover;
		}
	}
	&__text {
    font-size: 1.6rem;
    padding: 6px 0 6px 35px;
    display: inline-block;
    margin: 0;
    text-align: left;
	}
}
